@media (max-width: 992px)  {
	/* DEFAULT VALUES */
	
	.col-4 {
		width: 50%;
	}
	
	.d-none {
		display: block;
	}
	.mt-2 {
		margin-top: 2rem;
	}
	.mt-3 {
		margin-top: 3rem;
	}
	
	/* START HEADER */
	
	.header {
		background: #10c9c3; 
		position: fixed !important;
		top: 0;
		left: 0;
		z-index: 9;
	}
	label.logo {
		font-size: 30px;
		padding-left: .3rem;
	}
	nav ul li {
		float: none;
	}
	nav ul li a {
		font-size: 16px;
	}
	.show-btn {
		display: block;
	}
	nav ul {
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #2c3e50;
		top: 60px;
		left: -100%;
		text-align: center;
		transition: all .5s ease-in-out;
	}
	nav ul li {
		display: block;
		margin: 20px 0;
		line-height: 30px;
	}
	nav ul li a {
		font-size: 14px;
	}
	a:hover, a.active {
		background: none !important;
		color: #10c9c3 !important;
	}
	#check:checked ~ ul {
		left: 0;
	}
	#check:checked ~ ul .closebtn {
		display: block !important;
		left: -100%;
	}
	/* END HEADER */
	
	/* START BANNER */
	
	.col-md-12 {
		width: 100%;
	}
	
	.md-banner {
		overflow: hidden;
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	
	
	section.banner {
		display: none;
	}
	.profile-img {
		padding: 1.5rem;
		margin-bottom: 0rem;
	}
	.profile-img img {
		width: 200px;
		height: 200px;
		border-radius: 50%;
		margin: auto !important;
		display: block;
		box-shadow: 0pc 0px 22px -7px #969696a3, 0pc 0px 32px -12px #969696a3, 0pc 0px 37px -12px #969696a3;
	}
	section.mobile-banner {
		background: #000;
		margin-top: 60px;
		padding: 60px 0;
		z-index: 9;
	}

	.porfile-disc {
		overflow: hidden;
		padding: 10px 20px;
		text-align: center;
		color: #fff;
	}
	.mb-2 {
		margin-bottom: 2rem;
	}
	.porfile-disc h1 {
		font-size: 29px;
		font-family: 'Lato';
		text-transform: capitalize;
	}

	.porfile-disc p {
		font-size: 16px;
		font-family: 'Lato';
		line-height: 23px;
	    /* margin-bottom: 20px !important; */
		padding: 5px;
	}

	.porfile-disc .button {
		width: 150px;
		height: 40px;
		line-height: 38px;
		border: none;
		outline: none;
		color: #fff;
		background: #10c9c3;
		border: 1px solid #10c9c3;
		font-size: 16px;
		text-transform: uppercase;
		border-radius: 4px;
		margin: auto;
		margin-top: 10px;
		cursor: pointer;
		transition: all .3s ease-in-out;
	}
	.porfile-disc .button:hover {
		background: transparent;
		border: 1px solid #10c9c3;
		color: #fff;
	}
	/* END BANNER */

	/*          ABOUT START            */
	.sec-title-head {
		width: 100%;
	}
	/*          ABOUT END            */


	/*          SKILL START            */
		.skill {
		background-color: #f8f9f9;
	}
	.skill-head,
	.skill-info {
		text-align: center;
	}
	.skill-meta .range {
		width: 100%;
	}
	/*          SKILL END            */

	/*          complete-project Start              */

	.porject-complete-single-box {
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		flex-direction: column;
	}
	.porject-complete-single-box .porject-meta {
		margin-left: 0;
	}

	/*          complete-project End              */

	/*          Work Start              */
	.grid {
		grid-template-columns: repeat(2, 1fr);
	}
	/*          Work End              */
	iframe.video, iframe.map {
		height: auto;
	}

	/*          Need project Start            */
	.project-form form {
		width: 100%;
	}
	.input-name {
		flex-direction: column;
	}
	.input-name > input {
		width: 100%;
	}
	.input-name > input[type="email"] {
		margin-left: 0;
	}
	/*          Need Project End              */

	/*  footer start */
	.design-info {
		text-align: center;
	}

	.foot-menu ul li {
		margin-top: 1rem;
	}
	.social-icon a.facebook:hover {
    background-color: #3b5998 !important;
}
.social-icon a.twitter:hover {
    background-color: #00acee !important;
}
.social-icon a.linkedin:hover {
    background-color: #0e76a8 !important;
}
.social-icon a.dribble:hover {
    background-color: #ea4c89 !important;
}
	/* footer end */
}

/* ======================================= NEW BREAK POINT ================= */

@media (max-width: 470px) {
	.col-6,
	.col-4 {
		width: 100% ;
		padding: 0 15px;
		float: left;
	}
	
	/*=================== BANNER START ============================= */
	.profile-img {
		padding: 1.5rem;
		margin-bottom: 0rem;
	}
	.profile-img img {
	width: 150px;
	height: 150px;
	box-shadow: 0pc 0px 22px -7px #969696a3, 0pc 0px 32px -12px #969696a3, 0pc 0px 37px -12px #969696a3;
	}
	.porfile-disc h1 {
		font-size: 22px;
    margin-bottom: 16px;
	}
	.porfile-disc p {
		font-size: 12px;
	}
	.porfile-disc .button {
		width: 125px;
		height: 32px;
		font-size: 12px;
		line-height: 27px;
	}
	/*=================== BANNER END ============================= */
	/*=================== ABOUT START ============================= */
	.sec-title-head h2::first-letter {
		font-size: 3rem;
	}
	.sec-title-head h2 {
		font-size: 2rem;
		text-align: center;
	}
	.sec-title-head {
		font-size: 13px;
	}
	.sign-img {
		width: 150px;
	}
	/*=================== ABOUT END ============================= */


	/*=================== SKILL START ============================= */
	.skill::before,
	.skill::after {
		content: none;
	}
	.skill-meta .skill-disc {
		margin-bottom: 7px;
		font-size: 15px;
		line-height: 28px;
	}
	/*=================== SKILL END ============================= */
	/*=================== WORK START ============================= */
	.grid,
	.grid-img {
		grid-template-columns: repeat(1, 1fr);
	}
	.work-grid:hover img,
	.grid .img:hover img {
		transform: scale(.9);
	}
	.lode-more .load-more {
		font-size: 14px;
	}
	/*=================== WORK END ============================= */
	
	/*=================== WORK PROCESS START ============================= */
	iframe.video, iframe.map {
		height: auto;
	}
	/*=================== WORK PROCESS END ============================= */


	/*=================== TESTIMONIAL START ============================= */
	.testimonial-content {
		width: 100%;
	}
	.testimonial-content p {
		font-size: 1.1rem;
		line-height: 2rem;
	}
	/*=================== TESTIMONIAL  END ============================= */


	/*=================== NEED PROJECT  START ============================= */
	.project-form form {
		width: 100%;
	}
	.row, .input-name {
		justify-content: center;
		flex-wrap: wrap;
		flex-direction: column;
	}
	.input-name > input {
		width: 100%;
	}
	.input-name > input[type="email"] {
		margin-left: 0;
	}
	.project-form form {
		width: 100%;
	}
	/*=================== NEED PROJECT  START ============================= */











	/*=================== ABOUT.HTML STYLE  START ============================= */
	section.about-me::before {
		content: none;
	}
	.user-image {
		display: block;
	}
	.about-me-content {
		text-align: center;
	}
	/*=================== ABOUT.HTML STYLE  END ============================= */




	
	/*==================== CONTACT.HTML STYLE START ================ */
	.send-msg {
		margin: auto;
	}
	.contact-disc {
		text-align: center;
	}
	/*==================== CONTACT.HTML STYLE END ================ */



	/*==================== PROJECT.HTML STYLE START ================ */
	.project::after {
		content: none !important;
	}
	.project-disc {
		text-align: center;
	}
	.project-btn .pre-btn a {
    font-size: 10px;
}
.project-btn   a i{
    font-size: 12px;
}
.project-btn .mid-btn  a i{
    font-size: 12px;
}
	/*==================== PROJECT.HTML STYLE END ================ */
}