@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;600;700&display=swap");
/*     GLOBAL VALUES     */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background: #757575;
  border-radius: 20px;
}
a,
a:hover,
a:focus {
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease-in-out;
}
ul {
  list-style: none;
}
section {
  padding: 80px 0;
}
.col-6 {
  width: 50%;
  padding: 0 15px;
}
.col-4 {
  width: 25%;
  padding: 0 15px;
}
.col-12 {
  width: 100%;
  padding: 0 15px;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-5 {
  margin-bottom: 5rem;
}
.d-none {
  display: none;
}
.row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
  overflow: hidden;
}
.wrapper {
  display: none;
}
/* ------------------ END GLOBAL VALUS ---------------------- */
/* preload style */
.loder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loder div {
  width: 16px;
  height: 32px;
  background: #fff;
  margin-left: 10px;
  animation: loder 1.2s infinite;
}

@keyframes loder {
  50% {
    height: 64px;
  }
}

.loder div:nth-child(1) {
  animation-delay: -0.4s;
  background-color: #ff9f1a;
}
.loder div:nth-child(2) {
  animation-delay: -0.2s;
  background-color: #fed330;
}
.loder div:nth-child(3) {
  animation-delay: 0s;
  background-color: #fffa65;
}

/* preload  style */
/*       HEADER STYLE       */
.header {
  /* background: #0082e6; */
  height: 60px;
  width: 100% !important;
  position: absolute;
  z-index: 999;
  top: 0;
  transition: all 0.4s ease;
}
.header::after {
  content: "";
  clear: both;
  display: block;
}

.header-about,
.header-work,
.header-contact,
.header-project,
.sticky {
  position: fixed;
  top: 0;
  background: #10c9c3;
  box-shadow: 0px 7px 15px -2px #8585858a;
}
/*
nav {
    background: #0082e6;
    height: 60px;
    width: 100%;
}
*/

label.logo {
  color: #fff;
  font-size: 35px;
  line-height: 60px;
  max-width: 40px;
  float: left;
}
label.logo img {
  width: 100%;
}
nav ul {
  float: right;
  margin-right: 20px;
}
.visible {
  transform: scaleY(1);
  visibility: visible;
}
nav ul li {
  float: left;
  line-height: 60px;
  margin: 0 2px;
}
nav ul li a {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 13px;
  text-transform: uppercase;
  border-radius: 3px;
}
nav ul li a.active,
nav ul li a:hover {
  color: #333;
  text-decoration: line-through;
  transition: all 0.5s ease-in-out;
}
.show-btn,
.close-btn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 60px;
  cursor: pointer;
  display: none;
  transition: all 0.4s ease-in-out;
}

.block {
  display: block;
}
.none {
  display: none !important;
}

/* HEADER END */

/* BANNER START */

.banner {
  padding: 180px 0;
  background: url(../image/bg1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 0 20px;
  overflow: hidden;
}
.banner-content .banner-head {
  font-size: 42px;
  font-family: Montserrat;
  margin-bottom: 20px;
}
.banner-content p.head-discription {
  font-size: 18px;
  padding: 8px;
  margin-bottom: 20px;
  line-height: 28px;
}
.button {
  width: 150px;
  height: 40px;
  line-height: 38px;
  border: none;
  outline: none;
  color: #fff;
  background: #10c9c3;
  border: 1px solid #10c9c3;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
  display: block;
  text-align: center;
}
.button:hover {
  border: 1px solid #10c9c3;
  background: transparent;
  color: #333;
}
/* BANNER END */

/*          About Us Start              */
.sec-title-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: auto;
  flex-wrap: wrap;
}
.sec-title-head h2 {
  text-transform: capitalize;
  font-size: 40px;
  font-weight: 600;
  font-family: "Lato";
  color: #191919;
}
.sec-title-head h2::first-letter {
  font-size: 53px;
  color: #10c9c3;
  margin-right: 2px;
}
.sec-title-head p {
  flex-wrap: wrap;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  color: #787878;
}
.sec-title-head .learn-more {
  font-size: 15px;
  color: #10c9c3;
  line-height: 30px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
.sec-title-head .learn-more:hover {
  text-decoration: underline;
}
.sign-img {
  max-width: 225px;
  height: auto;
}
.sign-img img {
  width: 100%;
  height: 100% !important;
}
/*          About Us End              */

/*          Skill Start             */
.skill {
  position: relative;
}
.skill::before {
  content: "";
  position: absolute;
  width: 50%;
  top: 0;
  left: 0;
  height: 100%;
  /* background: #f8f9f9; */
  z-index: -1;
}
.skill::after {
  content: "";
  position: absolute;
  width: 50%;
  top: 0;
  right: 0;
  height: 100%;
  /* background: #e9e9e9; */
  /* z-index: -1; */
  background: url(../image/pic.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.skill-head h2 {
  font-size: 36px;
  font-family: "Lato";
  font-weight: 400;
}

.skill-head h2::first-letter {
  font-size: 48px;
  color: #10c9c3;
  font-weight: 700;
}
.skill-info {
  overflow: hidden;
}

.skill-meta .skill-disc {
  display: block;
  margin-bottom: 8px;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "montserrat";
  line-height: 30px;
  color: #333;
}

.skill-meta .skill-disc span {
  color: #10c9c3;
  font-size: 21px;
  margin-left: 12px;
}
.skill-meta .range {
  display: flex;
  align-items: center;
  width: 450px;
}
.skill-meta .range .rang {
  height: 7px;
}
.range .ui-rang1 {
  width: 75%;
  background-color: #10c9c3;
}
.range .ui-rang2 {
  background: #d8d8d8;
  width: 25%;
}
.range .web-dev-rang1 {
  width: 90%;
  background-color: #10c9c3;
}
.range .web-dev-rang2 {
  background: #d8d8d8;
  width: 10%;
}
.range .marketing-rang1 {
  width: 65%;
  background-color: #10c9c3;
}
.range .marketing-rang2 {
  background: #d8d8d8;
  width: 35%;
}

/*          Skill End              */

/*          complete-project START              */
.complete-project {
  background: #10c9c3;
}
.porject-complete-single-box {
  overflow: hidden;
  display: flex;
}
.porject-complete-single-box .project-icon img {
  width: 100%;
  height: auto;
}
.porject-complete-single-box .porject-meta {
  overflow: hidden;
  margin-left: 1.9rem;
}
.porject-complete-single-box .porject-meta h4 {
  font-size: 1.4rem;
  line-height: 30px;
  color: #fff;
  font-weight: 600;
  font-family: "Montserrat";
}
.porject-complete-single-box .project-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.porject-complete-single-box .porject-meta p {
  font-family: "Montserrat";
  line-height: 30px;
  font-size: 0.8rem;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}
/*          complete-project End              */

/*          Work Start              */
section.work {
  padding: 0;
  background: #f5f5f5;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  vertical-align: top;
}
.grid .img img {
  width: 100%;
  height: 100%;
}
.grid .img {
  position: relative;
  cursor: zoom-in;
  overflow: hidden;
}
.grid .img .icon {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgb(0 0 0 / 52%);
  transform: scaleY(0);
  transition: all 0.4s ease-out;
  z-index: 1;
}
.grid .img:hover img {
  transform: scale(1.2);
  transition: all 0.4s cubic-bezier(0.32, 0.12, 0.33, 0.6);
}
.grid .img:hover .icon {
  transform: scaleY(1) !important;
}
.grid .img .icon i {
  color: #fff;
  font-size: 2rem;
  display: block !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lode-more {
  padding: 2rem 0;
  display: grid;
  place-items: center;
}
.lode-more .load-more {
  color: #8e8e8e;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 17px;
  transition: all 0.3s ease-in-out;
}
.lode-more .load-more:hover {
  color: #10c9c3;
}
/* preview imgae */
.preview-box {
  width: 100%;
  max-width: 700px;
  z-index: 9999;
  position: fixed;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  padding: 0.8rem;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}

.show {
  opacity: 1 !important;
  visibility: visible !important;
  transition: all 0.3s ease-in-out;
  z-index: 999 !important;
  transform: translate(-50%, -50%) scale(1);
}

.detail {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.detail span {
  display: flex;
}

.detail span p {
  margin: 0 5px;
}
.detail span p.current {
  font-weight: 500;
  transform: scale(1.2);
}

.detail span.close {
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
  font-size: 16px;
  color: #333;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.detail span.close:hover {
  background-color: #ddd;
}

.img-box {
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.img-box img {
  width: 100%;
  height: auto;
}

.img-box .prev,
.img-box .nxt {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}
:is(.img-box .prev, .img-box .nxt):hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
}

.img-box .prev i,
.img-box .nxt i {
  font-size: 1rem;
}
.img-box .prev {
  left: 0;
}
.img-box .nxt {
  right: 0;
}

.shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 99;
  overflow: hidden;
}

/* display none class */
.btn-none {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
}

.btn-block {
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
}
/*          Work End              */

/* work process */
iframe.video {
  width: 100%;
  height: 500px;
}

/*          Services Start          */
section.services {
  background: #f5f5f5;
}
.service-box {
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid #ddd; */
  padding: 15px;
  border-radius: 4px;
  margin: 10px 0;
  transition: all 0.4s ease-in-out;
}
.service-box:hover {
  box-shadow: 0px 0px 10px -2px rgb(16 201 195 / 45%);
}
.services-icon {
  margin-bottom: 1.5rem;
}
.services-icon img {
  width: 100%;
  height: 100%;
}
.services-disc {
  overflow: hidden;
  text-align: center;
}
.services-disc h3 {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 15.5px;
  font-weight: 600;
  color: #191919;
  margin-bottom: 1rem;
  line-height: 30px;
}
.services-disc h3 a:hover {
  color: #10c9c3;
  transition: all 0.3s ease-in-out;
}
.services-disc p {
  font-family: "Lato";
  font-size: 13px;
  line-height: 24px;
  color: #787878;
  padding: 4px;
}
/*          Services End          */

/*          Testimonial Start          */

section.testimonial {
  background: #10c9c3;
}
.testimonial-content {
  width: 55%;
  margin: auto;
  text-align: center;
}
.testimonial-content p {
  font-size: 1.3rem;
  line-height: 36px;
  color: #fff;
  font-family: "Montserrat";
}
.t-slider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.t-slider .dot {
  height: 8px;
  width: 8px;
  background-color: #b0e8e6;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
}
.t-slider .dot.active {
  width: 11px;
  height: 11px;
  background-color: #fff;
}
/*          Testimonial End          */

/*          Clients Start          */

.clients-company-icons {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*          Clients End          */

/*          NEED PROJECT sTART          */
section.need-project {
  background: #f5f5f5;
}
.project-form {
  overflow: hidden;
}

.project-form form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 675px;
  margin: auto;
}
.input-name {
  display: flex;
  align-items: center;
  width: 100%;
}

.input-name input {
  border: 1px solid #eee;
  padding: 15px 20px;
  margin-left: 10px;
  outline: none;
  border-radius: 4px;
  flex: 1;
  transition: all 0.4s ease-in-out;
}
.input-name input.name {
  margin-left: 0;
}
input::placeholder {
  color: #787878;
  font-family: "Lato";
  font-weight: 400;
  font-size: 1.1rem;
  text-transform: capitalize;
}
input.title,
textarea {
  width: 100%;
  padding: 15px 20px;
  border: 1px solid #eee;
  border-radius: 4px;
  outline: none;
  transition: all 0.4s ease-in-out;
}
textarea {
  height: 170px;
  resize: none;
  font-size: 18px;
  color: #333;
  font-family: "Lato";
}
textarea::placeholder {
  color: #787878;
  font-family: "Lato";
  font-weight: 400;
  font-size: 1.1rem;
  text-transform: capitalize;
}
textarea::-webkit-scrollbar {
  width: 0;
}
textarea::-webkit-scrollbar-thumb {
  width: 0;
}
.input-name input:focus,
input:focus,
textarea:focus {
  border: 1px solid #10c9c3;
}
a.send-msg {
  font-size: 16px;
  font-family: "Lato";
  font-weight: 600;
}
/*          NEED PROJECT End          */

/* ---------------> FOOTER START <----------------- */
.footer {
  padding: 80px 0;
  background: #141414;
}
.design-info {
  color: #fff;
}

.design-info h3 {
  font-size: 20px;
  margin-bottom: 1rem;
  font-family: "Montserrat";
  font-weight: 600;
}

.design-info p {
  color: #757575;
  font-size: 14px;
  font-family: "Lato";
  font-weight: 400;
  line-height: 22px;
}
.design-info p:last-child {
  margin-top: 8px;
  font-size: 12px;
  color: #414141;
}
.contact-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact-info > a {
  color: #b6b6b6;
  font-family: "Lato";
  font-size: 15px;
  line-height: 16px;
  margin: 5px 0;
  letter-spacing: 0.5px;
}

.contact-info > a:last-child:hover {
  color: #10c9c3;
  text-decoration: underline;
  transition: all 0.4s ease-in;
}
.footer-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.foot-menu ul li {
  margin: 5px 0;
}

.foot-menu ul li a {
  font-size: 14px;
  font-family: "Lato";
  font-weight: 400;
  text-transform: capitalize;
  color: #b6b6b6;
}

.foot-menu ul li a:hover {
  color: #10c9c3;
  text-decoration: line-through;
}
.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
}

.social-icon a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #10c9c3;
  display: grid;
  place-items: center;
  margin: 0 8px;
  transition: all 0.4s ease-in-out;
}

.social-icon a i {
  font-size: 18px;
  color: #fff;
}
.social-icon a.facebook:hover {
  background-color: #3b5998;
  transform: scale(0.9);
  box-shadow: 0px 0px 10px 0px #3b5998;
}
.social-icon a.twitter:hover {
  background-color: #00acee;
  transform: scale(0.9);
  box-shadow: 0px 0px 10px 0px #00acee;
}
.social-icon a.linkedin:hover {
  background-color: #0e76a8;
  transform: scale(0.9);
  box-shadow: 0px 0px 10px 0px #0e76a8;
}
.social-icon a.dribble:hover {
  background-color: #ea4c89;
  transform: scale(0.9);
  box-shadow: 0px 0px 10px 0px #ea4c89;
}

/* ------------------ TOP ARROW BUTTON --------------- */
.top-arrow-btn {
  position: fixed;
  right: 25px;
  bottom: 50px;
  width: 35px;
  height: 35px;
  z-index: 1000;
  background: #00b0bd;
  display: grid;
  place-items: center;
  border-radius: 18px;
  color: #fff;
  cursor: pointer;
  user-select: none;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.top-arrow-btn a {
  color: #fff;
}

.show-top-arrow {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
/* ---------------> FOOTER END <----------------- */

/* ! ===================== Start About Page Style ================== */
/* ---------------------- BANNER START --------------------- */
section.about-banner {
  background: url(../image/about/about2.jpg) no-repeat;
  background-size: cover;
  height: 50vh;
  width: 100%;
  background-position: center;
  position: relative;
}

.banner-contant {
  overflow: hidden;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}
.banner-contant h1 {
  font-size: 3rem;
  font-family: "Montserrat";
  font-weight: 600;
  text-align: center;
}

.banner-contant p {
  font-family: "Lato";
  line-height: 30px;
  font-weight: 400;
  font-size: 18px;
}
/* ---------------------- BANNER END --------------------- */

/* --------------------- ABOUT ME START -------------------- */
section.about-me {
  position: relative;
}

section.about-me::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: #ddd;
  background: url(../image/pic.png) no-repeat;
  background-size: cover;
  background-position: center;
}

/*----------------------- ONLY RESPOSSIVESTYLE START---------------------*/
.user-image {
  width: 250px;
  height: 250px;
  margin: auto;
  display: none;
}

.user-image img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
/*----------------------- ONLY RESPOSSIVESTYLE END ---------------------*/
.about-me {
  padding: 100px 0;
}
.about-me-content {
  overflow: hidden;
  padding: 15px;
}

.about-me-content h2 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 2.3rem;
}

.about-me-content h2:first-letter {
  color: #10c9c3;
  font-weight: 900;
  font-size: 4rem;
  text-shadow: -2px 1px 6px #00000091;
}

.about-me-content p {
  font-size: 1.1rem;
  line-height: 24px;
  font-family: "Lato";
  font-weight: 400;
}
.about-me-content .hair-me {
  /* padding: 10px 40px; */
  border: 1px solid #10c9c3;
  outline: none;
  color: #fff;
  background: #10c9c3;
  border-radius: 3px;
  font-size: 1.4rem;
  cursor: pointer;
  letter-spacing: 1.3px;
  transition: all 0.3s ease-in-out;
}
.about-me-content .hair-me:hover {
  background: transparent;
  border: 1px solid #10c9c3;
  color: #585858;
}

/* --------------------- ABOUT ME END -------------------- */

/*          NEED PROJECT START              */
.sec-title-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: auto;
  flex-wrap: wrap;
}
.sec-title-head h2 {
  /* text-transform: capitalize; */
  font-size: 2rem;
  font-weight: 600;
  font-family: "Lato";
  color: #191919;
}
.sec-title-head h2::first-letter {
  font-size: 45px;
  color: #10c9c3;
  margin-right: 2px;
  text-shadow: -2px 1px 6px #00000091;
}
.sec-title-head p {
  flex-wrap: wrap;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  color: #787878;
}
.sec-title-head .lets-talk {
  padding: 10px 20px;
  border: 1px solid #10c9c3;
  outline: none;
  color: #fff;
  background: #10c9c3;
  border-radius: 3px;
  font-size: 1.1rem;
  font-family: "Lato";
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 1.3px;
  transition: all 0.3s ease-in-out;
}
.sec-title-head .lets-talk:hover {
  background: transparent;
  border: 1px solid #10c9c3;
  color: #585858;
  text-decoration: none;
}

/*          NEED PROJECT END              */

/* ! ===================== Start About Page Style ================== */

/* ! ===================== Start  WORK PAGE Style ================== */

/*          About Us Start              */
.sec-title-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: auto;
  flex-wrap: wrap;
}
.sec-title-head h2 {
  text-transform: capitalize;
  font-size: 27px;
  font-weight: 600;
  font-family: "Lato";
  color: #191919;
}
.sec-title-head h2::first-letter {
  font-size: 35px;
  color: #10c9c3;
  margin-right: 2px;
}
.sec-title-head p {
  flex-wrap: wrap;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  color: #787878;
}
.sec-title-head a {
  font-size: 15px;
  color: #787878;
  line-height: 30px;
  letter-spacing: 1px;
  text-decoration: underline;
}
.sec-title-head a:hover {
  color: #10c9c3;
  transition: all 0.3s ease-in-out;
}
.sign-img {
  max-width: 225px;
  height: auto;
}
.sign-img img {
  width: 100%;
  height: 100% !important;
}
/*          About Us End              */

/*          WORK GALLERY START              */

.work-page {
  padding: 100px 0 0 0;
  /* margin-top: 60px; */
  background: rgb(222 222 222);
}
.grid-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.work-grid {
  /* width: 340px;
    height: 300px; */
  overflow: hidden;
  position: relative;
}
.work-grid img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.work-grid .icon {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgb(16 201 195 / 59%);
  transition: all 0.4s ease-out;
  z-index: 1;
  transform: scaleX(0);
}
.work-grid:hover img {
  transform: scale(1.1);
  transition: all 0.4s ease-in-out;
}
.work-grid:hover .icon {
  transform: scaleX(1) !important;
}
.work-grid .icon i {
  color: #fff;
  font-size: 2rem;
  display: block !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*          WORK GALLERY END              */

/* ! ===================== END WORK PAGE Style ================== */

/* ! ===================== Start CONTACT PAGE Style ================== */

/* ----------------- CONTACT US ----------------------------- */
.contact {
  padding: 100px 0 0 0;
  /* margin-top: 60px; */
  background: rgb(222 222 222);
}
.contact-disc {
  padding: 10px 15px;
  overflow: hidden;
}

.contact-disc h2 {
  font-size: 2.1rem;
  font-family: "Lato";
  font-weight: 600;
}

.contact-disc p {
  font-size: 15px;
  font-family: "Lato";
  font-weight: 400;
  color: #787878;
  line-height: 24px;
}
.contact-address p {
  line-height: 30px;
}
.contact-address p span {
  color: #191919;
  font-size: 15px;
  font-weight: 600;
  margin-right: 10px;
}
.contact-form form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: auto;
}
.input-name {
  display: flex;
  align-items: center;
  width: 100%;
}

.input-name input {
  border: 1px solid #eee;
  padding: 15px 20px;
  margin-left: 10px;
  outline: none;
  border-radius: 4px;
  flex: 1;
  transition: all 0.4s ease-in-out;
}
.input-name input.name {
  margin-left: 0;
}
input::placeholder {
  color: #787878;
  font-family: "Lato";
  font-weight: 400;
  font-size: 1.1rem;
  text-transform: capitalize;
}
input.title,
textarea {
  width: 100%;
  padding: 15px 20px;
  border: 1px solid #eee;
  border-radius: 4px;
  outline: none;
  transition: all 0.4s ease-in-out;
}
textarea {
  height: 170px;
  resize: none;
  font-size: 18px;
  color: #333;
  font-family: "Lato";
}
textarea::placeholder {
  color: #787878;
  font-family: "Lato";
  font-weight: 400;
  font-size: 1.1rem;
  text-transform: capitalize;
}
.input-name input:focus,
input:focus,
textarea:focus {
  border: 1px solid #10c9c3;
}
.send-msg {
  width: 150px;
  height: 40px;
  line-height: 38px;
  border: none;
  outline: none;
  color: #fff;
  background: #10c9c3;
  border: 1px solid #10c9c3;
  font-family: "Lato";
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
  display: block;
  text-align: center;
}
.send-msg:hover {
  border: 1px solid #10c9c3;
  background: transparent;
  color: #333;
}
iframe.map {
  width: 100%;
  height: 300px;
}
/* ----------------- CONTACT US END ----------------------------- */

/* ! ===================== END WORK PAGE Style ================== */

/* ! ===================== END PROJECT PAGE STYLE ================== */

/* ------------------------------------------ PROJECT STYLE START ------------------------------------ */
.project {
  background: #f6f6f6;
  padding-top: 100px;
  position: relative;
}
section.project::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: url(../image/project/project_img1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.project-disc {
  padding: 8px;
  overflow: hidden;
}

.project-disc h2 {
  font-size: 32px;
  font-family: "Montserrat";
  color: #191919;
  font-weight: 600;
}

.project-disc p {
  font-size: 17px;
  color: #787878;
  font-family: "Lato";
  font-weight: 400;
  line-height: 25px;
}
.project-details p {
  line-height: 30px;
}
.project-disc p span {
  color: #191919;
  font-weight: 600;
  font-family: "Montserrat";
  margin-right: 8px;
}

/* ------------------------------------------ PROJECT STYLE END ------------------------------------ */

/* ------------------------------------------ PROJECT ARROW BUTTON STYLE END ------------------------------------ */
.buttons {
  padding: 40px 0;
  /* background: #f6f6f6; */
}

.project-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.project-btn .pre-btn a {
  display: flex;
  display: block;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  font-family: "Lato";
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.project-btn a i {
  margin: 0 8px;
  font-size: 15px;
  /* color: #10c9c3; */
}
.project-btn .mid-btn a i {
  font-size: 15px;
}
.project-btn a:hover {
  color: #10c9c3;
}
/* ------------------------------------------ PROJECT ARROW BUTTON STYLE END ------------------------------------ */

/* ! ===================== END PROJECT PAGE STYLE ================== */
